.post{
    position: relative;
    left: 15vw;
}
.createpost{
    margin: 1rem 0;
    margin-right: 1rem;
    width: 45vw;
    border: 1px solid #dddfe2;
    border-radius: 10px;
    background-color: #fff;
}
.createpost .title{
    background-color: #f5f6f7;
    border-bottom: 1px solid #dddfe2;
    border-radius: 10px 10px 0 0;
}
.createpost h5{
    padding: 10px 10px 0;
    color: #4b4f56;
}
.contain{
    padding: 10px;
}
.contain .act{
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}
.act input{
    border: none;
    height: 100%;
    color: #90949c;
    font-size: .8rem;
}
.act .avatar{
    margin: 0 10px 0 0;
    width: 2rem;
}
hr{
    background-color: #dddfe2;
}
.contain .act:last-child div{
    background-color: #f5f6f7;
    padding: .5rem;
    border-radius: 40px;
    margin: .5rem .5rem 0 0;
    color: #4b4f56;
}
.contain .act:last-child i{
    margin-right: .5rem;
}