a{
    text-decoration: none;
}
.sidebar{
    list-style-type: none;
    width: 15vw;
}
.sidebar i{
    width: 1vw;
    font-size: 1.3rem;
    margin: 10px 20px 10px 0;
    color: #3884fe;
}
.sidebar .red_icon{
    color: #ed2751;
}
.sidebar .grey_icon{
    color: #8f959d;
}
.sidebar li{
    color: #616770;
    font-weight: 600;
}
.sidebar a{
    font-weight: 400;
    color: #55585f;
}
.sidebar .avatar{
    width: 1.3vw;
    margin: 10px 20px 10px 0;
}